* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
* body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  min-height: 100%;
}
* body .page {
  display: flex;
  width: 100%;
  min-height: 100%;
  background-color: #f0f0f0;
}
* body .page .sidebar .sidebar-content {
  background-color: white;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  height: 100%;
  width: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 50px;
  /* border-radius: 20px; */
}
* body .page .sidebar .sidebar-content header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 0;
  width: 100%;
  height: 70px;
  box-shadow: 10px -10px 15px 0px rgba(0, 0, 0, 0.3);
}
* body .page .sidebar .sidebar-content .fa-arrow-alt-circle-right {
  /* margin: 100px 0px 0px 0; */
  color: #bfbfff;
  transition: 0.2s;
}
* body .page .sidebar .sidebar-content .fa-arrow-alt-circle-right:hover {
  cursor: pointer;
  opacity: 50%;
}
* body .page .sidebar .sidebar-content .fa-home {
  color: #bfbfff;
  transition: 0.2s;
  /* margin-top: 70px */
}
* body .page .sidebar .sidebar-content .fa-home:hover {
  cursor: pointer;
  opacity: 50%;
}
* body .page .sidebar .sidebar-content .fa-user {
  color: #bfbfff;
  transition: 0.2s;
  /* margin-top: 70px */
}
* body .page .sidebar .sidebar-content .fa-user:hover {
  cursor: pointer;
  opacity: 50%;
}
* body .page .sidebar .sidebar-content .fa-cog {
  color: #bfbfff;
  transition: 0.2s;
  /* margin-top: 70px */
}
* body .page .sidebar .sidebar-content .fa-cog:hover {
  cursor: pointer;
  opacity: 50%;
}
* body .page .dashboard {
  width: 100%;
}
* body .page .dashboard header {
  text-align: center;
  font-size: larger;
  width: 100%;
  background-color: #dfdfdf;
  padding: 10px 0;
  color: white;
}
* body .page .dashboard header .todo-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 15px;
}
* body .page .dashboard header .todo-bar span {
  box-shadow: 0px 8px 15px 0px rgba(0, 0, 0, 0.1);
  display: flex;
}
* body .page .dashboard header .todo-bar span input {
  padding: 0.5rem;
  border: none;
  /* border-top-left-radius: 20px;
  border-bottom-left-radius: 20px; */
  font-size: 2rem;
}
* body .page .dashboard header .todo-bar span input:focus {
  outline: none !important;
}
* body .page .dashboard header .todo-bar span button {
  padding: 0px 20px;
  border: none;
  /* border-top-right-radius: 20px;
  border-bottom-right-radius: 20px; */
  background-color: white;
}
* body .page .dashboard header .todo-bar span button i {
  font-size: 30px;
  transition: 0.2s;
}
* body .page .dashboard header .todo-bar span button i:hover {
  color: #9d9dff;
  cursor: pointer;
}
* body .page .dashboard .todo-container {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
* body .page .dashboard .todo-container .todo {
  display: flex;
  margin: 10px 0;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  border-radius: 20px;
  background-color: white;
  box-shadow: 0px 8px 15px 0px rgba(0, 0, 0, 0.1);
  transition: all 0.5s ease;
}
* body .page .dashboard .todo-container .todo .fa-trash,
* body .page .dashboard .todo-container .todo .fa-check {
  pointer-events: none;
}
* body .page .dashboard .todo-container .todo li {
  flex: 1;
}
* body .page .dashboard .todo-container .todo .todo-item {
  padding: 0rem 0.8rem;
  font-size: 30px;
}
* body .page .dashboard .todo-container .todo .trash-btn,
* body .page .dashboard .todo-container .todo .complete-btn {
  background-color: #bfbfff;
  color: white;
  border: none;
  padding: 1.5rem;
  cursor: pointer;
  font-size: 1.5rem;
}
* body .page .dashboard .todo-container .todo .trash-btn:hover,
* body .page .dashboard .todo-container .todo .complete-btn:hover {
  background-color: #8484ff;
}
* body .page .dashboard .todo-container .todo .trash-btn {
  background-color: red;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}
* body .page .dashboard .todo-container .todo .trash-btn:hover {
  background-color: #f00000;
}
* body .page .dashboard .todo-container .todo-list {
  min-width: 30%;
  list-style: none;
}
* body .page .dashboard .todo-container .todo-list .completed {
  text-decoration: line-through;
  opacity: 0.5;
}
* body .page .dashboard .todo-container .todo-list .delete {
  transform: translateY(8rem) rotateZ(20deg);
  opacity: 0;
}

/*# sourceMappingURL=style.css.map */
